<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Gamma: Visual Search</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href= "{{ url_for('static',filename='styles/style_image_upload.css') }}">
<body>

<main>
<h1>Lightspeed γ</h1>

<div class="wrapper">
  <button class="no-image" id="img-result">Upload Image</button>
</div>
<button class="show-button" type="submit" onclick="get_image_match()">FIND ITEM</button>
<div class="upload-result">
  <button class="hide-button">Close</button>
  <pre class="upload-result__content">
  </pre>
</div>

<script src="{{ url_for('static',filename='scripts/script_image_upload.js') }}"></script>

</main>
</body>
</html>